{% load utils %}


<li>
        <li>
            <a onclick="xadmin.add_tab('Modify personal information','/users/admin/updtself/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Modify Personal Information</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('Change the password','/common/mod/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Change My Password</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('My collection','/collection/admin/username/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>My Collections</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('My comments','/issues/admin/author/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>My Comments</cite>
            </a>
        </li>


        </li>
</li>
    